<h1>Lista de Proyectos</h1>

<table class="proytable">
  <tr>
    <th class="proythclass">Proyecto</th>
    <th class="proythclass">Comitente</th>
    <th class="proythclass">Fproyecto</th>
    <th class="proythclass">Ubicacion</th>
    <th class="proythclass">Expediente</th>
  </tr>

<% @proyectos.each do |proyecto| %>
  <tr>
    <td class="proytdclass"><%= proyecto.proyecto %></td>
    <td class="proytdclass"><%= proyecto.comitente %></td>
    <td class="proytdclass"><%= proyecto.fproyecto %></td>
    <td class="proytdclass"><%= proyecto.ubicacion %></td>
    <td class="proytdclass"><%= proyecto.expediente %></td>
    <td class="proytbclass"><%= link_to 'Show', proyecto %></td>
    <td class="proytbclass"><%= link_to 'Edit', edit_proyecto_path(proyecto) %></td>
    <td class="proytbclass"><%= link_to 'Destroy', proyecto, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proyecto', new_proyecto_path %>
