<p id="notice"><%= notice %></p>

<p>
  <b>Proyecto:</b>
  <%= @proyecto.proyecto %>
</p>

<p>
  <b>Desc:</b>
  <%= @proyecto.desc %>
</p>

<p>
  <b>Comitente:</b>
  <%= @proyecto.comitente %>
</p>

<p>
  <b>Constructor:</b>
  <%= @proyecto.constructor %>
</p>

<p>
  <b>Proyectista:</b>
  <%= @proyecto.proyectista %>
</p>

<p>
  <b>Fecha Proyecto:</b>
  <%= @proyecto.fproyecto %>
</p>

<p>
  <b>Ubicacion:</b>
  <%= @proyecto.ubicacion %>
</p>

<p>
  <b>Expediente:</b>
  <%= @proyecto.expediente %>
</p>

<div class="linea">
  <p>
    <b>Zona:</b>
    <%= @proyecto.zona.nombre %>
    
    <b style="padding-left: 40px;">Tipo Constructivo:</b>
    <%= @proyecto.tconstr.tipo %>
  </p>

  <p>
    <b>Conductor de Energía:</b>
    <%= @proyecto.cond_e.nombre %>

    <b style="padding-left: 40px;">Conductor de Guardia:</b>
    <%= @proyecto.cond_g.nombre %>
  </p>
</div>

<div class="linea">
  <p>
    <b>Vano max (m):</b>
    <%= @proyecto.vanomax %>
    <b style="padding-left: 40px;">Dist max e/retensiones (m):</b>
    <%= @proyecto.dretmax %>
  </p>
</div>


<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %> |
<%= link_to 'Traza del Proyecto', puntos_path(:proyecto_id=>@proyecto.id) %>
