<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th colspan="4" class="dimgtb2class">Dimensiones del Tramo: <%= @dimgeom.tramo.nombre %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Longitudes de Herrajería y Cadenas</th>
  </tr>
  <tr>
    <th colspan="2" class="dimgthclass">Long Cadena (m)</th>
    <th colspan="2" class="dimgthclass">Long Péndulo (m)</th>
  </tr>
  <tr>
    <td colspan="2" class="dimgtdclass"><%= number_with_precision(@dimgeom.lcadena,:precision=>3) %></th>
    <td colspan="2" class="dimgtdclass"><%= number_with_precision(@dimgeom.lpendulo,:precision=>3) %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Parámetros del Tramo</th>
  </tr>
  <tr>
    <th class="dimgthclass">K Adoptado</th>
    <th class="dimgthclass">Altura Libre (m)</th>
    <th class="dimgthclass">Flecha Máx (m)</th>
  </tr>
  <tr>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.k,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hl,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.fmax,:precision=>2) %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Medidas Mínimas a Cumplir en el Tramo</th>
  </tr>
  <tr>
    <th class="dimgthclass">Dmens</th>
    <th class="dimgthclass">Dconds</th>
  </tr>
  <tr>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.dmens,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.dconds,:precision=>2) %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Altura Mínima de Crucetas o Ménsulas</th>
  </tr>
  <tr>
    <th class="dimgthclass">Inferior</th>
    <th class="dimgthclass">Media</th>
    <th class="dimgthclass">Superior</th>
  </tr>
  <tr>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hmi,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hmm,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hms,:precision=>2) %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Altura Mínima de Conductores</th>
  </tr>
  <tr>
    <th class="dimgthclass">Inferior</th>
    <th class="dimgthclass">Media</th>
    <th class="dimgthclass">Superior</th>
    <th class="dimgthclass">Protección</th>
  </tr>
  <tr>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hci,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hcm,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hcs,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.hcpr,:precision=>2) %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Longitud Mínima de Crucetas o Ménsulas</th>
  </tr>
  <tr>
    <th class="dimgthclass">Long Ménsulas (m)</th>
    <th class="dimgthclass">Long Crucetas (m)</th>
  </tr>
  <tr>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.lmensula,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.lcruceta,:precision=>2) %></th>
  </tr>
  <tr>
    <th colspan="4" class="dimgtbclass">Dimensiones Mínimas del apoyo</th>
  </tr>
  <tr>
    <th class="dimgthclass">Long Apoyo (m)</th>
    <th class="dimgthclass">Empotramiento (m)</th>
  </tr>
  <tr>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.lposte,:precision=>2) %></th>
    <td class="dimgtdclass"><%= number_with_precision(@dimgeom.empot,:precision=>2) %></th>
  </tr>
  
  
</table>

<br/>

|<%= link_to 'Vanos del Proyecto', vanos_path(:proyecto_id=>@dimgeom.tramo.proyecto_id) %>|
|<%= link_to 'Tramos del Proyecto', tramos_path(:proyecto_id=>@dimgeom.tramo.proyecto_id) %>|
|<%= link_to 'Datos del Proyecto', proyecto_path(Proyecto.find(@dimgeom.tramo.proyecto_id)) %>|
|<%= link_to 'Lista de Proyectos', proyectos_path %>|<br/>
