<p id="notice"><%= notice %></p>

<p>
  <b>Tramo:</b>
  <%= @dimgeom.tramo_id %>
</p>

<p>
  <b>Lcadena:</b>
  <%= @dimgeom.lcadena %>
</p>

<p>
  <b>Lpendulo:</b>
  <%= @dimgeom.lpendulo %>
</p>

<p>
  <b>K:</b>
  <%= @dimgeom.k %>
</p>

<p>
  <b>Hl:</b>
  <%= @dimgeom.hl %>
</p>

<p>
  <b>Fmax:</b>
  <%= @dimgeom.fmax %>
</p>

<p>
  <b>Dmens:</b>
  <%= @dimgeom.dmens %>
</p>

<p>
  <b>Dconds:</b>
  <%= @dimgeom.dconds %>
</p>

<p>
  <b>Hmi:</b>
  <%= @dimgeom.hmi %>
</p>

<p>
  <b>Hmm:</b>
  <%= @dimgeom.hmm %>
</p>

<p>
  <b>Hms:</b>
  <%= @dimgeom.hms %>
</p>

<p>
  <b>Hci:</b>
  <%= @dimgeom.hci %>
</p>

<p>
  <b>Hcm:</b>
  <%= @dimgeom.hcm %>
</p>

<p>
  <b>Hcs:</b>
  <%= @dimgeom.hcs %>
</p>

<p>
  <b>Hcpr:</b>
  <%= @dimgeom.hcpr %>
</p>

<p>
  <b>Lmensula:</b>
  <%= @dimgeom.lmensula %>
</p>

<p>
  <b>Lcruceta:</b>
  <%= @dimgeom.lcruceta %>
</p>

<p>
  <b>Lposte:</b>
  <%= @dimgeom.lposte %>
</p>

<p>
  <b>Empot:</b>
  <%= @dimgeom.empot %>
</p>


<%= link_to 'Edit', edit_dimgeom_path(@dimgeom) %> |
<%= link_to 'Back', dimgeoms_path %>
