<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

<h1>Traza del Proyecto</h1>

<div id="puntoslista">
    <table>
      <tr>
        <th class="puntothclass">Sec</th>
        <th class="puntothclass">Punto</th>
        <th class="puntothclass">Lat</th>
        <th class="puntothclass">Long</th>
        <th class="puntothclass">Dist</th>
        <th class="puntothclass">Ang</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% distancia = 0 %>
    <% @puntos.each do |punto| %>
      <tr>
        <td class="puntotdclass"><%= punto.secuencia %></td>
        <td class="puntotdclass"><%= punto.punto %></td>
        <td class="puntotdclass"><%= number_with_precision(punto.latitud, :precision=>3)   %></td>
        <td class="puntotdclass"><%= number_with_precision(punto.longitud, :precision=>3)  %></td>
        <td class="puntotdclass"><%= number_with_precision(punto.distancia, :precision=>0) %></td>
        <td class="puntotdclass"><%= number_with_precision(punto.angulo, :precision=>1)    %></td>
        <td class="puntotbclass"><%= link_to 'S', punto %></td>
        <td class="puntotbclass"><%= link_to 'E', edit_punto_path(punto) %></td>
        <td class="puntotbclass"><%= link_to 'D', punto, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
      <% distancia =distancia + punto.distancia %>
    <% end %>
        <td class="puntotbclass"></td>
        <td class="puntotbclass"></td>
        <td class="puntotbclass"></td>
        <td class="puntotdclass">Total (m)</td>
        <td class="puntotdclass"><%= number_with_precision(distancia, :precision=>0) %></td>
        <td class="puntotbclass"></td>
    </table>

    <br />
    |<%= link_to 'New Punto', new_punto_path %>|
    <br />
    |<%= link_to 'Lista Tipos de Piquetes', :controller=>'tramos',:action=>'index',:proyecto_id=>@proyecto_id %>|<br />
    |<%= link_to 'Lista Vanos del Proyecto', :controller=>'vanos',:action=>'index',:proyecto_id=>@proyecto_id %>|<br />
    |<%= link_to 'Calcula Tipos de Piquetes y Vanos', :controller=>'tramos',:action=>'calctramos',:proyecto_id=>@proyecto_id %>|<br />
    |<%= link_to 'Datos del Proyecto '+@proyecto_id, proyecto_path(Proyecto.find(@proyecto_id))%>| <br/>
    |<%= link_to 'Lista de Proyectos', proyectos_path %>|<br />

</div>

<div id="puntosmapa">
    mapa
</div>

<script type="text/javascript"
    src="https://maps.google.com/maps/api/js?sensor=false">
</script>

<script type="text/javascript">
        var proyecto_id = <%= @proyecto_id %>;
        jQuery(document).ready(function(){
                var latlng = new google.maps.LatLng(-33.30, -66.33);
                var myOptions = {
                        zoom: 12,
                        center: latlng,
                        mapTypeId: google.maps.MapTypeId.HYBRID
                };
                var map = new google.maps.Map(document.getElementById("puntosmapa"), myOptions);

                google.maps.event.addListener(map, 'click', function(event) {
                        jQuery.ajax({
                           type: "POST",
                           url: "../puntos/indajax",
                           dataType: 'json',
                           data: "lat="+event.latLng.lat()+"&long="+event.latLng.lng()+"&proyecto_id="+proyecto_id,
                           success: function(puntos){ 
                             jQuery(location).attr('href','../puntos?proyecto_id='+proyecto_id);
                           }
                        });
                });


                dibujatraza(<%=raw(@puntosarr) %>);

                function dibujatraza(puntos){
                        var puntosarr = [];
                        var mylatlng = new google.maps.LatLng(-33.30,-66.33);
                        jQuery.each(puntos,function(index,value){
                                mylatlng = new google.maps.LatLng(value.latitud, value.longitud);
                                var marker = new google.maps.Marker({
                                      position: mylatlng,
                                      draggable: true, 
                                      map: map, 
                                      title: value.nombre
                                });  	
                                puntosarr.push(mylatlng);
                        });
                        map.setCenter(mylatlng);
                        var traza = new google.maps.Polyline({
                            path: puntosarr,
                            strokeColor: "#0000FF",
                            strokeOpacity: 1.0,
                            strokeWeight: 2
                        });
                        traza.setMap(map);
                };

     });
     
</script>