<h1>Listing tconstrs</h1>

<table>
  <tr>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tconstrs.each do |tconstr| %>
  <tr>
    <td><%= tconstr.tipo %></td>
    <td><%= link_to 'Show', tconstr %></td>
    <td><%= link_to 'Edit', edit_tconstr_path(tconstr) %></td>
    <td><%= link_to 'Destroy', tconstr, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tconstr', new_tconstr_path %>
